<html>
	<body>
		<table border="1">
			<tr>
				<td>Package</td>
				<td>Maintainer</td>
				<td>Bug</td>
			</tr>
			{% for row in results %}
			<tr>
				<td>
					{{row[0]}}
				</td>
				<td>
					{{row[1]}}
				</td>
				<td>
					{{row[2]}}
				</td>
			</tr>
			{% endfor %}
		</table>
	</body>
</html>
